
<div class="home-callout text-center container-fluid">
    <h1>Welcome to Maggie's Pizza!</h1>
    <h3>Home of the Maggie's Favorie Special!</h3>
</div>

<div class="well container-fluid">
    <%= render "about" %>
</div>