/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

// Body Styling
body {
  padding-top: 70px;
  background-color: #FFF4E0;
  color: #961515;
}

.well {
  color: #756C5A !important; 
  border-color: #44A896 !important;
  border-radius: 0px !important;
  background-color: rgba(245, 245, 245, .5) !important;
    
}

.well-border {
  border: 3px;
  border-color: #44A896;
}

// Typography Styling

h1, h2, h3 {
  font-family: 'Dosis', sans-serif;
}

// Navbar Styling

.navbar {
  background: #961515;
}

.navbar-brand {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}

.navbar-default .navbar-brand {
  color: white;
    &:hover {
      color: white;
      opacity: .75;
    }
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: #44A896;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  background-color: #44A896;
  &:hover, &:focus{
    background-color: #44A896;
    opacity: .75;
  }
}

.btn-primary {
  background-color: #44A896 !important;
}

// Homepage Styling

.home-callout {
  padding-top: 40px;
  padding-bottom: 25px;
}

// Flass Message Styling
.alert {
  text-align: center;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.flash-container {
  position: absolute;
  width: 100%;
}