/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

// Body Styling
body {
  padding-top: 70px;
}

// Typography Styling

h1, h2, h3 {
  font-family: 'Dosis', sans-serif;
}

// Navbar Styling

.navbar {
  background: #961515;
}

.navbar-brand {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
}

// Homepage Styling

.home-callout {
  padding-bottom: 25px;
}

// Flass Message Styling
.alert {
  text-align: center;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.flash-container {
  position: absolute;
  width: 100%;
}