<% content_for :title, "Loyalty" %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Your Account</h2><br>
          
      <% if @account.first_name.blank? or @account.last_name.blank? or @account.birthday.blank?  %>
        <%= render "personal_info_form" %>
      <% else %>
        <%= "Hi #{@account.first_name} #{@account.last_name}!" %><br>
      <% end %>
      
      <%= render "rewards" %> 

    </div>
  </div>
</div>